.timestamp {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
    text-align: right;
}

.userMessage {
    background-color: rgba(0, 145, 255, 0.591);
    padding: 20px;
    border-radius: 8px;
    margin: 5px;
    align-self: flex-end;
}

.botMessage {
    background-color: rgba(117, 163, 248, 0.599);
    padding: 20px;
    border-radius: 8px;
    margin: 5px;
}

.chatList .sapMFlexItem {
    max-width: 80%;
}
.chatList .sapMFlexItem {
    max-width: 80%;
}

#otbFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f1f0f0;
	padding: 10px;
	text-align: center;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

